
*,
*:before,
*:after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
  }

body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'gg sans';
    background-image: url(/static/background.svg);
    background-size: 100% 100%;
    background-position: auto center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    padding-top: 50px;
}

td, th, label {
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(49, 51, 56, 0.5);
    backdrop-filter: blur(4px);
    overflow: hidden;
    position: fixed;
    top: 20px;
    min-width: 480px;
    max-width: 100%;
    min-height: 40px;
    z-index: 1000;
    padding: 0 25px;
    border-radius: 5px;
    box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.25);
}

.nav-left, .nav-right {
    display: flex;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

nav a:hover {
    border-radius: 5px;
    background-color: rgba(91, 91, 91, 0.4);
    color: white;
}


#body-server {
    background-color: #1e1f22;
    background-image: none;
}


h1 {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    margin-bottom: 8px;

    color: #fff;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    text-align: left;

    color: #fff;
}

a {
    margin: 15px 0;
    width: auto;
    height: auto;

    color: white;
    font-size: 14px;
    text-decoration: none;
}

a:hover {
    color: #2c95f2;
}

a:active {
    color: #1775c8;
}

.span-sign-in-link-password:hover {
    text-decoration: underline;
}

button {
    border-radius: 5px;
    border: #5b5de3;
    background: #5b5de3;
    color: #fff;
    width: 416px;
    height: 44px;
    font-family: "gg sans";
    font-size: 16px;
    font-weight: 500;
    padding: 2px 16px;
}

button:hover {
    background: #494bb8;
}

button:active {
    background: #3e409c;
}

input:focus {
    color: black;
    outline-width: 0;
}

.close {
    margin: 0px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 20px;
    right: 12px;

    fill: #b6b9c087;
    z-index: 5;
}


/* logo discord */
.logo {
    position: absolute;
    width: 124px;
    height: 24px;
    top: 48px;
    left: 48px;

    z-index: 0;
}


.container {
    background: #313338;
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
    min-width: 480px;
    max-width: 100%;
    min-height: 408px;
    max-height: 100%;
    padding: 32px;

    box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.transition-container-align-items-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container form {
    display: flex;
    flex-direction: column;
    width: 416px;
    height: 336px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-container input {
    border-radius: 5px;
    border: none;
    padding: 12px 15px;
    width: 416px;
    height: 40px;

    background: #1e1f22;
    color: #fff;
}

.priority-element {
    width: 9px;
    height: 16px;
    margin-left: 4px;

    color: #f23f42;
}

.span-sign-in {
    width: 416px;
    height: 16px;
    margin: 20px 0px 8px 0px;
    text-align: left;
    font-size: 12px;
    font-weight: 700;

    color: #b6bac0;
}

.span-sign-in-g {
    margin-right: auto;
    font-size: 12px;
    font-weight: 500;

    color: #b6bac0;
}

.span-sign-up-gh {
    margin: 0px;
    width: 416px;
    text-align: left;
}

.span-sign-in-gc {
    font-size: 14px;
    font-weight: 400;

    color: #949ba4;
}

.p-sign-in {
    font-family: gg sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: .5px;
    text-align: center;
    margin: 0;

    color: #b6bac0;
}


.footer-container-wrapper {
    width: 480px;
    max-width: 100%;
    height: 70px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #2B2D31;
}

.footer-form {
    width: 480px;
    max-width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer-container-wrapper-rezerv {
    width: 480px;
    max-width: 100%;
    height: 70px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #2B2D31;
}

.footer-form-rezerv {
    width: 480px;
    max-width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.h2-change {
    margin: 0px;
    margin-bottom: 8px;
    width: 448px;
    height: 30px;

    font-family: "gg sans";
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}


.span-change {
    width: 422px;
    height: 20px;

    font-family: "gg sans";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #b5bac1;
}

.button-change {
    width: 480px;
    height: 122px;
    margin-top: 24px;
}

.arrow-wrapper {
    margin-right: 20px;
}

.arrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-radius: 1px;
}

.arrow-right {     transform: rotate(45deg); }





/* server-auth */
.container-server-auth {
    width: 480px;
    max-width: 100%;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    overflow: hidden;
    text-align: center;

    background-color: #313338;
    box-shadow: 1px 1px 18px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.server-auth-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img-server {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #1775c8;
}

.button-server-auth {
    width: 480px;
    height: 122px;
}

.server-auth-button {
    margin: 25px 40px 10px 40px;
    width: 40px;
    height: 35px;
    padding: 8px 0px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;

    color: #fff;
}

.server-auth-button:hover {
    color: #ffffff98;
}

.server-auth-button-text {
    margin: 0;
    padding: 0px 10px;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
}

.modal {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.modal:target {
    opacity: 1;
    z-index: 3;
   pointer-events: auto;
    overflow-y: auto;
}

.modal-content {
    margin: 15% auto;
    padding: 20px;
    border-radius: 5px;
    position: relative;

    background-color: none;
}

.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.modal-body {
    width: 440px;
    height: 360px;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

    background-color: #313338;
}

.close-model {
    margin: 0px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 42px;
    right: 42px;

    fill: #b6b9c087;
}

.close:hover {
    fill: #b6b9c0;
}

.close-model:hover {
    fill: #b6b9c0;
}


.capcha-div-wrapper {
    width: 303px;
    height: 270px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.logo-modal {
    width: 88px;
    height: 85px;
    margin-bottom: 8px;
}

.capcha-h2 {
    margin: 16px 0px 8px 0px;
    font-family: "gg sans";
    font-size: 24px;
    font-weight: 700;
    color: #f2f3f5;
}

.capcha-p {
    margin: 0px 0px 8px 0px;
    font-family: "gg sans";
    font-size: 16px;
    font-weight: 400;
    color: #dbdee1;
}

.capcha-frame {
    margin-top: 16px;
    pointer-events: auto;
    width: 303px;
    height: 78px;
    overflow: hidden;
}
