<!DOCTYPE html>
<html lang="en">
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>tech panel</title>
    <link rel="stylesheet" href="/static/css/base.css">
</head>
<body>

    <div class="container" id="container">
            <div class="form-container sign-in-container">
                <form id="loginForm">
                    <h1>С возвращением!</h1>
                    <p class="p-sign-in">Мы так рады видеть вас снова в Discord!</p>
                    <span class="span-sign-in">АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ ИЛИ НОМЕР ТЕЛЕФОНА<span class="priority-element">*</span></span>
                    <input id="email" type="text" placeholder="" />
                    <span class="span-sign-in">ПАРОЛЬ<span class="priority-element">*</span></span>
                    <input id="password" type="password" placeholder="" />
                    <br>
                    <br>
                    <button type="submit" id="openModalBtn">Вход</button>


                    <div id="myModal" class="modal">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-body">
                                <a href="#" class="close-model">
                                    <svg width="15" height="15" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0.707108 14.2071C0.316584 13.8166 0.316584 13.1834 0.707108 12.7929L12.7929 0.707109C13.1834 0.316585 13.8166 0.316584 14.2071 0.707108L14.2929 0.792894C14.6834 1.18342 14.6834 1.81658 14.2929 2.20711L2.20711 14.2929C1.81658 14.6834 1.18342 14.6834 0.792895 14.2929L0.707108 14.2071Z" />
                                    <path d="M14.2071 14.2929C13.8166 14.6834 13.1834 14.6834 12.7929 14.2929L0.70711 2.20711C0.316586 1.81658 0.316585 1.18342 0.707109 0.792895L0.792895 0.707108C1.18342 0.316584 1.81658 0.316584 2.20711 0.707108L14.2929 12.7929C14.6834 13.1834 14.6834 13.8166 14.2929 14.2071L14.2071 14.2929Z" />
                                    </svg>
                                </a>
                            </div>
                          </div>
                        </div>
                      </div>
                </form>
            </div>
        </div>

    <script src="/static/js/base.js"></script>
</body>
</html>