{% extends "base.html" %}
{% block content %}
<div class="form-container sign-in-container">
<form id="loginForm" method="POST" action="">
        {{ form.hidden_tag() }}
        <h1>С возвращением!</h1>
        <p class="p-sign-in">Мы так рады видеть вас снова!</p>
        <span class="span-sign-in">ЛОГИН<span class="priority-element">*</span></span>
        <input id="email" type="text" name="username" placeholder="" value="{{ form.username.data }}" />

        <span class="span-sign-in">ПАРОЛЬ<span class="priority-element">*</span></span>
        <input id="password" type="password" name="password" placeholder="" value="{{ form.password.data }}" />

        <br><br>
        <button type="submit" id="openModalBtn">Вход</button>
    </form>
</div>
{% endblock %}
